@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #d0cdcd;
}
/*===============Common Elements=================*/
.complete-btn {
  background-color: green;
  border: 1px;
  padding: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.confirm-btn,
.save-btn {
  background-color: green;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border: 1px;
}
.cancel-btn {
  background-color: red;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 1px;
  cursor: pointer;
}
.total-el {
  font-size: x-large;
  font-weight: bold;
}
.cash-btn {
  color: white;
  background: green;
  border: 1px;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
}
.mpesa-btn {
  color: white;
  background-color: rgb(0, 255, 0);
  font-weight: 700;
  border: 1px;
  cursor: pointer;
  padding: 10px;
  width: 30%;
}
.card-btn {
  color: white;
  background-color: rgb(192, 65, 65);
  font-weight: 700;
  border: 1px;
  cursor: pointer;
  padding: 10px;
  width: 30%;
}
.hold-btn {
  color: white;
  font-weight: 700;
  border: 1px;
  background-color: #5d95d1;
  padding: 10px;
  width: 30%;
  cursor: pointer;
}
.delete-btn {
  background-color: red;
  border: 1px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
}
.delete-btn:hover {
  background-color: rgb(221, 0, 0);
}
.edit-btn {
  background-color: rgb(207, 207, 7);
  border: 1px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}
.view-btn {
  background-color: rgb(95, 95, 250);
  border: 1px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.deactivate-btn {
  background-color: red;
  border-radius: 10px;
  border: 1px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.view-btn-img {
  width: 100%;
}
.delete-btn-img {
  width: 100%;
}
.edit-btn-img {
  width: 100%;
}
.deactivate-btn-img {
  width: 100%;
}
/*==============================================*/

/*===============Nav bar style=================*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #007aff;
  height: 50px;
}
.navlink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navlink-icon {
  width: 20px;
}
.navlink:hover {
  border-bottom: 2px solid white;
}
/*================================================*/

/*===============Tables style=================*/
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  font-size: larger;
}
thead {
  background: #007aff;
  color: white;
}
/*============================================*/

/*============Products page styling===========*/
.product-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 20px;
  gap: 100px;
}
.products-table-container {
  background: #ebebeb;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 14px;
}
.products-summary-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-product-form-container,
.product-summary-card-container {
  background: #ebebeb;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
.product-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background-color: #ebebeb;
  padding: 20px;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.edit-product-form-input {
  padding: 5px;
  width: 250px;
  margin-top: 0px;
}
.modal-content form label {
  margin-bottom: 0px;
}

/*============================================*/

/*============Employees page styling===========*/
.employees-list-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  gap: 100px;
}
.employees-table-container {
  background: #ebebeb;
  padding: 20px;
  border-radius: 15px;
}
.employee-card {
  background: #ebebeb;
  padding: 15px;
  border-radius: 15px;
}
.employee-card span {
  font-weight: bold;
}
.employee-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-employee-form-container {
  background: #ebebeb;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  padding-bottom: 15px;
}
.employee-edit-form-container {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
}
.employee-edit-form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-user-form-input {
  padding: 5px;
}
/*============================================*/

/*===============Login page styling===========*/
.logo-container {
  width: 150px;
  margin-bottom: 15px;
}
.logo-container img {
  width: 100%;
  border-radius: 50%;
}
.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page-form {
  background: #d9d9d9;
  padding: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.login-page-form h2 {
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-form-input {
  padding: 8px;
  width: 220px;
  border-radius: 12px;
  border: 2px;
}
.login-btn {
  padding: 8px;
  border-radius: 12px;
  background-color: rgb(89, 197, 89);
  color: white;
  font-weight: 700;
  border: 1px;
  transition: all 0.2s;
}
.login-btn:hover {
  box-shadow: 0 0 5px 1px #5d95d1;
}
/*============================================*/

/*=========Cashier Sales page styling=========*/

.sales-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}
.sales-list-container {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
  width: 50%;
}
.register-sales-table {
  width: 100%;
}
.sales-summary-container {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
}
.search-product-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-product-input {
  width: 65%;
  padding: 8px;
}
.live-search-list {
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 8px;
  margin-bottom: 5px;
}
.live-search-list-option {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.payment-option-btns,
.sale-option-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.quantity-el {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;
}
.wait-heading {
  text-align: center;
  color: red;
}
.admin-confirm-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stop-icon-container {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stop-icon {
  width: 100%;
}
.admin-password-confirm-input,
.admin-username-confirm-input {
  padding: 8px;
}
/*============================================*/

/*======Cashier Dashboard page styling========*/
.cashier-dashboard-container {
  display: flex;
  flex-direction: column;
}
.cashier-dashboard-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.cashier-card {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
  width: 23%;
}
.cashier-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sales-statistics {
  background-color: #ebebeb;
  margin-top: 15px;
  border-radius: 13px;
  padding: 20px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container h1 {
  text-align: center;
}
/*============================================*/

/*=============Admin Page Styling=============*/
.admin-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 10px;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}
.left-section-card {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 13px;
  width: 100%;
}
.left-section-card h2 {
  text-align: center;
}
.info-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-section1,
.info-section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.small-gray {
  font-size: small;
  color: #888585;
  margin-bottom: 0px;
}
.bold-black {
  font-weight: 600;
  margin-top: 0;
  font-size: larger;
}
.info1,
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sales-info-section {
  width: auto;
}
.sales-info-container {
  width: 800px;
  height: fit-content;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
  margin-top: 20px;
}
.statistics-chart {
  width: 100%;
}
.right-section-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-section-card {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*============================================*/

/*===============Sales Admin Page=============*/
.sales-list-table {
  background-color: #ebebeb;
  padding: 20px;
  margin-top: 15px;
  border-radius: 13px;
}
/*============================================*/

/*===============Customers Page=============*/
.customers-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-top: 20px;
}

.customers-list-container {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
}
.customer-info {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-info-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.info-1,
.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*============================================*/

/*============cashier products list page =========================*/
.cashier-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.table-container {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 13px;
}
/*============================================*/

/*=============Cash Sale Modal page============*/
.tendered-input,
.change-input {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}
/*============================================*/
/*=======Admin Reports page Styling===========*/
.admin-reports-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}
.report-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.report-card {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.report-card h2 {
  margin-bottom: 0;
}
.chart-downloads-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: start;
}
.revenue-chart {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
}
.downloads-section {
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.downloads-section h2 {
  margin-bottom: 0px;
}
/*============================================*/
